<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.garymr.android.easyupdate.xiaomi">

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />-->

    <!--<application>-->
        <!--<receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    <!--</application>-->

</manifest>
